*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
body {
    background-color: #ae97f0;
    color: #6e52bb;
    line-height:1.6;
}

header {
    margin-bottom: 40px;
    background-color: rgb(0, 0, 0);
    padding: 30px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0 , 0, 0, 0.1);
}
        header h1{
         font: size 2.5em;
         margin-bottom: 10px;
         }
        nav ul{
        list-style-type: none;
        display:flex;
        flex-direction:column;
        gap: 15px;
        }
nav a{
           display:block;
           padding: 15px 20px;
           background-color: #9051d4;
           color: black;
           text-decoration:none;
           border-radius: none;
           transition: all 0.3s ease;
           text-align: center; 
           font-weight: 500;
}
.cajabase {
        display: flex;
        flex-direction: column;
        align-items:center;
        margin-bottom: 40px;
        background-color: rgb(0, 0, 0);
        padding: 30px;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0 , 0, 0, 0.1);
        }
.song-button {
    display: flex;
    background-color: (145deg, #5d61c5, #7a7dd6);
    text-align:justify
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

.song-button:hover {
    display: flex;
    background-color: (145deg, #5d61c5, #979aec);
    text-align:justify;
    border: 2px solid transparent;
    transform: translateY(-2px);
}

.conteiner2 {
display: flex;
  justify-content: center;
  align-items: center;
}

.concert-image {
    background: linear-gradient(45deg, #4d1c9c, #4d1c9c, #4d1c9c);
    border-radius: 15px;
    padding: 20px;
}
.imgconteiner {
     width: 450px;
     height: 250px;
}

.imgconteiner1 {
     width: 500px;
     height: 350px;
}

.imgconteiner2 {
     width: 350px;
     height: 350px;
}

.imgconteiner3 {
     width: 450px;
     height: 300px;
}

footer{
        text-align: center;
        padding: 20px;
        background-color: #7455d0;
        color: rgb(255, 255, 255);
        border-radius: 15px;
        }
        footer h3{
        font-weight: normal;
        }
p {
 font-family:Arial, Helvetica, sans-serif;
  }
.menu {
    display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        background-color: rgb(#4d1c9c);
        padding: 25px;
        border-radius: 6px;
        box-shadow: 0 2px 4px rgba(0, 0 , 0, 0, 0.1);
}
.regresar {
    display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        background-color: rgb(#4d1c9c);
        padding: 25px;
        border-radius: 6px;
        box-shadow: 0 2px 4px rgba(0, 0 , 0, 0, 0.1);
}